.test_mode {
  background-color: #efefef;
  height: 2em;
  width: 3em;
  border-radius: 10px;
  border: 1px solid #f68b1e;
  display: grid;
  place-items: center;
}

.test_mode p {
  font-size: smaller;
  color: #f68b1e;
}

.live_mode {
  background-color: #3bb75e;
  height: 2em;
  width: 3em;
  border-radius: 10px;
  border: 1px solid #3bb75e;
  display: grid;
  place-items: center;
}

.live_mode p {
  font-size: smaller;
  color: white;
}

.button {
  background: #3bb75e;
}

.cursor_unset {
  cursor: unset !important;
}