.button_elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bottom_text span {
  margin-left: 2px;
}

.select_form_custom_light {
  width: 100%;
  height: 30px;
  border: 1px solid #f2f4f7;
  color: #726767;
}

.select_form_custom_dark {
  width: 100%;
  height: 30px;
  border: 1px solid #33333a;
  color: #eee7e7b2;
  background-color: #232329;
}

.select_form_custom_container {
  display: flex;
}

.select_form_custom_icon_dark {
  background: #33333a;
  border: 1px solid #33333a;
}
.select_form_custom_icon_light {
  background: #f2f4f7;
  border: 1px solid #f2f4f7;
}
