.dark {
    background-color: #232329 !important;
    color: #dddddd;
}

.top_board {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 25px;
}
.successful {
    width: 322px;
    height: 100px;
    background: #F1EEF4;
    border-radius: 10px;
}

.successful p {
    margin: 10px 0 0 15px;
}

.failed {
    width: 322px;
    height: 100px;
    background: #F1F9F9;
    border-radius: 10px;
}

.failed p {
    margin: 10px 0 0 15px;
}

.customers {
    width: 322px;
    height: 100px;
    background: #F6EBE4;
    border-radius: 10px;
}

.customers p {
    margin: 10px 0 0 15px;
}

.month_select, .year_select {
    z-index: 2;
}

.availableBalance {
    width: 202px;
    height: 92px;
    background: #ECF4FF;
    position: relative;
    margin: 0;
    border-radius: 5px;
}

.availableBalance:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 95%;
    background: #000080;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
}

.dot {
    width: 10px;
    background: #000080;
    border-radius: 50%;
    height: 10px;
    margin-right: 10px;
}

.totalPurchases {
    width: 202px;
    height: 92px;
    background: #ECF4FF;
    position: relative;
    margin: 0;
    border-radius: 5px;
}

.totalPurchases:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 95%;
    background: #d56c00;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
}

.totalPurchasesDot {
    width: 10px;
    background: #d56c00;
    border-radius: 50%;
    height: 10px;
    margin-right: 10px;
}

.totalOutflow {
    width: 202px;
    height: 92px;
    background: #ECF4FF;
    position: relative;
    margin: 0;
    border-radius: 5px;
}

.totalOutflow:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 95%;
    background: red;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
}

.totalOutflowDot {
    width: 10px;
    background: red;
    border-radius: 50%;
    height: 10px;
    margin-right: 10px;
}

.totalInflow {
    width: 202px;
    height: 92px;
    background: #ECF4FF;
    position: relative;
    margin: 0;
    border-radius: 5px;
}

.totalInflow:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 95%;
    background: green;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
}

.totalInflowDot {
    width: 10px;
    background: green;
    border-radius: 50%;
    height: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .top_board {
        flex-direction: column;
    }

    .filter {
        order: 1;
        margin-top: 10px;
        width: 100%;
    }
    .customers{
        order: 4;
        margin-top: 10px;
        width: 100%;
    }
    .failed {
        order: 3;
        margin-top: 10px;
        width: 100%;
    }
    .successful {
        order: 2;
        margin-top: 10px;
        width: 100%;
    }
}
