.loginForm {
  height: 3px;
}

.button_elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  place-items: center;
}

.form {
  width: 40em;
}

.apiform_buttons {
  width: 100px;
  height: 40px;
}

.button_containers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.validation_text {
  visibility: visible !important;
}
