@font-face {
  font-family: "Gelion Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Regular Italic"),
    url("./fonts/Gelion Regular Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Regular"),
    url("./fonts/Gelion Regular.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Light"), url("./fonts/Gelion Light.woff") format("woff");
}

@font-face {
  font-family: "Gelion Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Thin Italic"),
    url("./fonts/Gelion Thin Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Light Italic"),
    url("./fonts/Gelion Light Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Thin"), url("./fonts/Gelion Thin.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Medium Italic"),
    url("./fonts/Gelion Medium Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Medium"), url("./fonts/Gelion Medium.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Semi Bold Italic"),
    url("./fonts/Gelion SemiBold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Semi Bold"),
    url("./fonts/Gelion SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Bold Italic"),
    url("./fonts/Gelion Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Bold"), url("./fonts/Gelion Bold.woff") format("woff");
}

@font-face {
  font-family: "Gelion Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Black Italic"),
    url("./fonts/Gelion Black Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Black"), url("./fonts/Gelion Black.woff") format("woff");
}
main {
  padding: 0;
  font-family: Gelion Regular;
}

html {
  font-family: Gelion Regular;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gelion Regular;
  font-size: 14px;
  line-height: 1.6;


  @include themify($themes) {
    color: themed("colorText");
  }
}

* {
  box-sizing: inherit;
  font-family: Gelion Regular;
}

ul,
ol {
  padding-left: 15px;
  margin-bottom: 0;
}

a {
  color: $color-blue;
  transition: all 0.3s;
  font-family: Gelion Regular;

  &:hover {
    text-decoration: none;
    color: $color-blue-hover;
  }
}

img {
  width: 100%;
}
