@font-face {
  font-family: "Gelion Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Regular Italic"),
    url("./fonts/Gelion Regular Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Regular"),
    url("./fonts/Gelion Regular.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Light"), url("./fonts/Gelion Light.woff") format("woff");
}

@font-face {
  font-family: "Gelion Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Thin Italic"),
    url("./fonts/Gelion Thin Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Light Italic"),
    url("./fonts/Gelion Light Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Thin"), url("./fonts/Gelion Thin.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Medium Italic"),
    url("./fonts/Gelion Medium Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Medium"), url("./fonts/Gelion Medium.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Semi Bold Italic"),
    url("./fonts/Gelion SemiBold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Semi Bold"),
    url("./fonts/Gelion SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Bold Italic"),
    url("./fonts/Gelion Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Bold"), url("./fonts/Gelion Bold.woff") format("woff");
}

@font-face {
  font-family: "Gelion Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Black Italic"),
    url("./fonts/Gelion Black Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gelion Black"), url("./fonts/Gelion Black.woff") format("woff");
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 0;

  @include themify($themes) {
    color: themed("colorText");
  }
}

p {
  margin: 10px 0 0 0;
  font-family: Gelion Regular !important;

  &:first-child {
    margin: 0;
  }
  &.error_validation_text {
    color: red;
  }
}

button {
  font-family: Gelion Regular;

  &.button-text {
    font-family: Gelion Regular;
  }
}

h1 {
  font-size: 36px;
  line-height: 48px;
  font-family: Gelion Bold;

  &.subhead {
    font-size: 30px;
    color: $color-additional;
    line-height: 36px;
    font-family: Gelion Bold;
  }
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-family: Gelion Bold;

  &.subhead {
    font-size: 24px;
    color: $color-additional;
    line-height: 32px;
    font-family: Gelion Bold;
  }
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-family: Gelion Bold;

  &.subhead {
    font-size: 18px;
    color: $color-additional;
    line-height: 24px;
    font-family: Gelion Bold;
  }
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-family: Gelion Bold;

  &.subhead {
    font-size: 12px;
    color: $color-additional;
    line-height: 16px;
    font-family: Gelion Bold;
  }
}

h5 {
  font-size: 14px;
  line-height: 18px;
  font-family: Gelion Bold;

  &.subhead {
    font-size: 10px;
    color: $color-additional;
    line-height: 12px;
    font-family: Gelion Bold;
  }
}

h6 {
  font-size: 12px;
  line-height: 16px;
  font-family: Gelion Bold;

  &.subhead {
    font-size: 8px;
    color: $color-additional;
    line-height: 10px;
    font-family: Gelion Bold;
  }
}

.bold-text {
  font-weight: 700;
}

.typography--inline {
  display: flex;
  flex-wrap: wrap;

  * {
    margin-top: auto;
    margin-right: 15px;
  }
}

.typography-card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    font-family: Gelion Bold;
  }
}

blockquote {
  font-size: 13px;
  font-style: italic;
  border-left: 3px solid $color-accent;
  margin-bottom: 0;
  padding-left: 10px;
}

.highlight {
  background-color: $color-accent;
  color: #ffffff;
}

.red-text {
  color: #ad4444;
}

.page-title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;

  &:last-child {
    margin-bottom: 30px;
  }

  &.page-title--not-last {
    margin-top: 20px;
  }
}

.page-subhead {
  margin-bottom: 20px;

  &.subhead {
    font-size: 14px;
    opacity: 0.7;
  }
}

::selection {
  color: #ffffff;
  background: $color-accent;
}

.white-background {
  @include themify($themes) {
    background-color: themed("colorBackground");
  };
}