.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 2em;
}

.account:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.hr_color {
  background-color: #f68b1e;
}
