.button {
  width: 8em;
}

.tdstyles {
  position: relative;
  top: 10px;
}
.trstyles {
  height: 50%;
}
.trstyles:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.thead_overide {
  border-top: none !important;
}

.Account_buttons {
  width: 100%;
  height: 7em;
  border-radius: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button_newaccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3em;
  font-size: smaller;
  width: 150px;
}

.button_newaccount img {
  width: 12px;
  margin-right: 10px;
}

.copy_button {
  font-size: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}
