/* styles for subription type modal */
.heading {
  font-weight: 600;
  display: block;
  font-size: 25px;
  margin-bottom: 15px;
}

.subheading {
  font-weight: 800;
  opacity: 0.6;
  font-size: 15px;
}
/* end */

.button_elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bottom_text span {
  margin-left: 2px;
}

.dark_background {
  background-color: #151519;
}

.select_form_custom_light {
  width: 100%;
  height: 30px;
  border: 1px solid #f2f4f7;
  color: #726767;
}

.select_form_custom_dark {
  width: 100%;
  height: 30px;
  border: 1px solid #33333a;
  color: #eee7e7b2;
  background-color: #232329;
}

.select_form_custom_container {
  display: flex;
}

.select_form_custom_icon_dark {
  background: #33333a;
  border: 1px solid #33333a;
}
.select_form_custom_icon_light {
  background: #f2f4f7;
  border: 1px solid #f2f4f7;
}

.button {
  width: 8em;
}

.tdstyles {
  display: flex;
  align-items: center;
  vertical-align: middle !important;
  /* position: relative;
  top: 10px; */
}

.thead_overide {
  border-top: none !important;
}

.Account_buttons {
  width: 100%;
  height: 7em;
  border-radius: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button_newaccount {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3em;
  width: 8m;
}

.button_newaccount img {
  width: 12px;
  margin-right: 10px;
}

.button_advanced_toggle {
  color: #57584e;
  outline: 0;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  padding: 0 16px;
  height: 36px;
  border: solid 1px rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.02);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.advance_button_container {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.extra_info {
  width: 100px;
  /* margin-bottom: 20px; */
}

.extra_info_buttons {
  width: 50px;
  margin-left: 10px;
}
