.checkboxes {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #d5d5d5;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checkboxes::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    content: "\f00c";
    font-size: 15px;
    color: white;
    display: none;
}

.checkboxes:hover {
    background-color: #a5a5a5;
}

.checkboxes:checked {
    background-color: #D56C00;
}

.checkboxes:checked::after {
    display: block;
}

.checkboxes:checked:before {
    background-color: red !important;
}