.details_wrapper div {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.button_newaccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3em;
  font-size: smaller;
  width: 150px;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.trstyles:hover {
  background-color: #efefef;
  cursor: pointer;
}
