.search_bar {
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-size: 20px, auto;
  background-image: url("./searchicon.png"), url("./close_full.png");
  background-position: 10px 11px, 210px 9px;
  background-repeat: no-repeat, no-repeat;
  padding: 15px 20px 15px 40px;
  margin-right: 15px;
  margin-bottom: 0 !important;
}

._bar {
  display: flex;
  align-items: center;
  justify-content: end;
}
