.custom-select {
    &::-webkit-input-placeholder {
        color: $color-additional;
        font-family: Gelion Regular;
        font-size: 14px;
      }
      &::-moz-placeholder {
        color: $color-additional;
        font-family: Gelion Regular;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        color: $color-additional;
        font-family: Gelion Regular;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        color: $color-additional;
        font-family: Gelion Regular;
      }
}