.button {
  width: 8em;
}

.tdstyles {
  position: relative;
  top: 10px;
}

.thead_overide {
  border-top: none !important;
}

.Account_buttons {
  width: 100%;
  height: 7em;
  border-radius: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button_newaccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3em;
  width: 8m;
}

.button_newaccount img {
  width: 12px;
  margin-right: 10px;
}
