.search_bar {
  max-width: 273px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-size: 20px, auto;
  background-image: url("./searchicon.png"), url("./close_full.png");
  background-position: 10px 10px, 230px 8px;
  background-repeat: no-repeat, no-repeat;
  padding: 20px 20px 20px 40px;
  margin-right: 15px;
  margin-bottom: 0 !important;
}

._bar {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100px;
  bottom: 20px;
}
